<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center bg-dark">
	<div class="container d-flex justify-content-between ">

		<div id="logo">
			<h1>
				<a href="index.html" style="color: #2F47A0;">K<span style="color:#CA9165;">AL</span>
				</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li>
					<a class="nav-link scrollto active" href="">Accueil</a>
				</li>

				<li>
					<a href="boutique">Boutique</a>
				</li>
				<li>
					<a class="nav-link scrollto " href="#conseil">Astuces</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#testimonials">Team</a>
				</li>

				<li>
					<a class="nav-link scrollto" href="#contact">Contact</a>
				</li>
				
				<li>
					<a class="nav-link scrollto" href="{{path('connexion.index')}}">Connexion</a>
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		<!-- .navbar -->

	</div>
</header>
<!-- End Header -->
