{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<!-- ======= About Section ======= -->
	 <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="{{asset('asset/img/Logo.png')}}" style="margin-left:50px;" />
            
          </div>

          <div class="col-lg-6 content">
            <h2>Bienvenue sur notre site KAL</h2>
            <h3>Ici, vous trouverez tout ce qu'il vous faut pour bien s'occuper de vos animaux de compagnies.</h3>

            <ul>
              <li><i class="bi bi-check-circle"></i> Des produits de qualité supérieur.</li>
              <li><i class="bi bi-check-circle"></i> Des conseils adapté à votre animal.</li>
              <li><i class="bi bi-check-circle"></i> Une équipe qualifié et disponible pour vous 24H/24H car la santé de vos animaux ne peut pas attendre.</li>
            </ul>

          </div>
        </div>

      </div>
	</section>
	<!-- End About Section -->
{% endblock %}
{% block footer %}{% endblock %}
