{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}
{% block main %}
	{{ dump(lesCategories)}}
	{% for laCategorie in lesCategories %}

		<article class="col-md-3 col-12 col-sm-12" style="height:200px;border:2px solid black;border-radius:5px;margin:10px; background-color:orange">

			<a style="color:black" href="{{ path('boutique.liste',{id:laCategorie.refcat})}}">
				<div class="text-center" style="width:100%;height:100%;padding-top:5em">
					{{laCategorie.libcat}}
				</div>
			</a>
		</article>
	{% endfor %}
{% endblock %}
