{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}
{% block main %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div id="boutique" class="example-wrapper">
		<h1>Nos Produits KAL</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<p>
					<img src="{{asset('asset/img/jouetsChien1.jpg')}}>
				</p>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/wamp64/www/ap/kal/depot1/templates/produit/index.html.twig'|file_link(0) }}">templates/produit/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>

			<a style="color:black" href="{{ path('boutique.liste',{id:laCategorie.refcat})}}">
				<div class="text-center" style="width:100%;height:100%;padding-top:5em">
					{{laCategorie.libcat}}
				</div>
			</a>
		</article>
	{% endfor %}
{% endblock %}
